ul {
    list-style: none;
    background-color: burlywood;
}

li {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

h2 {
    font-size: xx-large;
    font-style: italic;
}