body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 20px;
    color: cornsilk;
    font-style: italic;
    font-size: xx-large;
    margin: 50px;
    transform: skewX(-10deg)
}

ul {
    list-style: none;
    background-color: blue;
    margin: 50px;
    transform: skewX(-10deg)
    
}

li {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

h2 {
    font-size: x-large;
    font-style: italic;
    color: cornsilk;
}

p {
    color: cornsilk;
}